extends layoutCharles

block remainder
    section(class="moviesContainer")
        each movie in searchedMovie
            div(class="movieCard")
                img(src=movie.posterUrl class="theImage")
                p=movie.title
                p=movie.year
                a(href=`http://localhost:3000/movies/reviews?search=${movie.title}`)
                    h3 See possible reviews
                